@use "@/styles/breakpoints.scss" as *;
@use "@/styles/variables.scss" as *;

.login-container,
.register-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include mobile {
    height: 100svh;
    background-color: #fff;
    --rv-typography-color: #{$primary-color} !important;
    .title, .account, .pwd, .submit, .review {
      position: absolute;
      left: 10%;
      top: 20%;
    }
    .account, .pwd, .submit {
      width: 80%;
      height: 40px;
      border: 1px solid #{$primary-color};
      border-radius: 40px;
      top: 30%;
      padding: 0 20px;
      caret-color: #{$primary-color};
    }
    .pwd {
      top: 38%;
    }
    .submit {
      top: 45%;
    }
    .review {
      top: 52%;

      .check {
        --rv-checkbox-size: 14px !important;
        font-size: 12px;

        .agreement {
          color: #{$primary-color};
        }
      }
    }
  }

  .pcLogin-formBox,
  .pcRegister-formBox {
    background-color: #fff;
    box-shadow: $shadow-color 6px 5px 5px !important;
    @include desktop {
      width: 30vw;
      height: 60vh;
      span {
        //color:  #FF9800;
      }
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translate(-50%, -50%);
      .account, .pwd {
        width: 100%;
      }
      .MuiInput-root, .MuiInput-input {
        width: 100%;
      }
      .MuiFormLabel-root {
        font-size: 12px;
      }
      .loginBtn,
      .registerBtn {
        width: 100%;
        box-shadow: $shadow-color 6px 5px 5px;
        transition: all 0.2s linear;

        &:hover {
          transform: translateX(-2px) translateY(2px);
          box-shadow: $shadow-color 3px 2px 2px;
        }
      }
      .check {
        --rv-checkbox-size: 12px;
        font-size: 12px;

        .agreement {
          color: #{$primary-color};
        }
      }
      .toRegister {
        cursor: pointer;
        font-size: 12px;
        color: #{$primary-color};
      }
    }

    .login-tabs,
    .register-tabs {
      display: flex;

      .login-tabs-item,
      .register-tabs-item {
        flex: 1;
      }
    }
  }
}